* {
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.06, 0.47, 0.15, 0.89);
    border-radius: 15px;
    font-family: 'Poppins Medium', sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

*::selection {
    background-color: grey;
    color: white;
}

body {
    display: flex;
    height: calc(100vh - 16px);
    overflow: hidden;
    border-radius: 0;
}

img {
    border-radius: 0;
}

main {
    background: rgb(230, 230, 230);
    border-radius: 15px;
    width: calc(100vw);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    display: none;
}

.navArea {
    height: 3em;
    background: #2c2c2c;
    display: flex;
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

button,
.clickable {
    border-width: 0px;
    cursor: pointer;
}

button:hover,
.clickable:hover {
    transform: scale(1.3);
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 5px;
}

button:active,
.clickable:active {
    transition-duration: 0.1s;
    transform: scale(0.8);
    box-shadow: none;
}

button:focus,
.clickable:focus {
    outline: 4px solid rgba(0, 0, 0, 0.3);
}

button.settingsButton {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100px;
}

button.settingsButton:hover {
    transform: scale(1.3) rotate(180deg);
}

button.settingsButton:active {
    transform: scale(0.8);
}

button.settingsButton:focus,
button.newTab:focus {
    outline: 4px solid rgba(255, 255, 255, 0.3);
}

nav.profileSection {
    background: #434343;
    height: calc(100% - 14px);
    width: 100%;
    margin-left: 8px;
    padding: 7px 7px;
    border-radius: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.profileSection .tabs {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: scroll;
    max-width: calc(98.98vw - 265px);
}

nav.profileSection .tabs::-webkit-scrollbar {
    display: none;
}

nav.profileSection .tab {
    background: gray;
    color: rgb(69, 69, 69);
    width: 100%;
    min-width: 17.5%;
    padding: 5px 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    transform: scale(0.95);
    transition-duration: 0.3s;
    box-sizing: unset;
}

nav.profileSection .tab.active {
    background: lightgray;
    border-bottom: 4px solid rgba(0, 0, 0, 0.45);
}

nav.profileSection .tab.active input {
    font-family: 'Poppins Bold', sans-serif;
}

nav.profileSection .tab:hover {
    transform: scale(0.975);
    box-shadow: none;
    opacity: 1;
}

nav.profileSection .tab:active {
    transform: scale(0.95);
}

nav.profileSection .tabName {
    border: none;
    padding: 0px 10px;
    background: transparent;
    min-width: 0px;
}

nav.profileSection .tabName:hover,
nav.profileSection .tabName:active,
nav.profileSection .tabName:focus {
    transform: scale(1);
    outline: none;
    box-shadow: none;
}

.tabCounter {
    font-size: 1.4em;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins Bold', sans-serif;
    background: lightgray;
    text-align: center;
    min-width: 35px;
    max-width: 35px;
}

.newTab {
    aspect-ratio: 1;
    margin-left: 10px;
}

.newTab:hover {
    transform: scale(1.3) rotate(90deg);
}

.newTab:active {
    transform: scale(0.8) rotate(90deg);
}

.newTab img {
    width: 1.5em;
}

.closeTab {
    aspect-ratio: 1;
    background-color: transparent;
    margin-left: 10px;
}

.closeTab:hover {
    background-color: darkgrey;
    transform: scale(1.5);
}

.closeTab img {
    width: 1em;
}

.circleIconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.circleIconButton img {
    border-radius: 0px;
}

.characterInfo {
    background-color: gray;
    padding: 1em;
    padding-right: 2em;
    display: flex;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.characterName {
    width: 100%;
    background: rgb(188, 188, 188);
    border: none;
    font-size: 1.5em;
    font-family: 'Poppins Bold', sans-serif;
    margin-right: 1em;
    padding: 0em 1em;
    cursor: text;
}

.characterName:hover {
    transform: scale(1.025);
    background: rgb(210, 210, 210);
    box-shadow: none;
}

.characterName:active {
    transform: scale(0.975);
}

.characterName:focus {
    background-color: lightgrey;
}

.characterActions {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.characterActions .circleIconButton {
    height: 4em;
    aspect-ratio: 1;
}

.popUpContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp {
    background: white;
    box-shadow: rgb(0, 0, 0, 0.25) 0px 0px 5px;

    min-width: 25em;
    max-width: 100vw;
    padding: 2em;

    transform: scale(0.5);
}

.popUpContent {
    max-width: 25em;
}

.popUpTitle {
    margin: 0;
}

.popUpButton {
    padding: 0.5em 1em;
    border-radius: 10px;
}

.popUpButtonTrue {
    background-color: rgb(69, 69, 69);
    color: white;
}

section.panel {
    background: rgb(240, 240, 240);

    position: absolute;
    padding: 2em;
    height: calc(100% - 5em);
    z-index: 4;

    min-width: 20em;
    width: 30vw;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section.settingsPanel {
    transform: translateX(-110%);
}

section.sheetPanel {
    transform: translateX(100vw);
    width: 60em;
    max-width: calc(100vw - 5em);
}


section.panel .panelTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    padding: 0;
}

section.panel .panelTitle {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 2em;
    margin: 0;
    text-align: left;
}

section.settingsPanel .settingsArea {
    background: rgb(230, 230, 230);
    height: 100%;
    overflow-y: scroll;
    padding: 1em 2em;
}

section.settingsPanel .settingsArea::-webkit-scrollbar {
    display: none;
}

.largeActionButton {
    background: lightgray;
    padding: 1em;
    box-shadow: none;
    font-family: 'Poppins Bold', sans-serif;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    filter: invert(1);
}

.largeActionButton:hover,
.largeActionButton:focus {
    transform: scale(1.05);
    box-shadow: none;
    outline: 4px solid rgb(69, 69, 69);
}

.largeActionButton:active {
    transform: scale(0.95);
}

.largeActionButton img {
    border-radius: 0;
}

section.settingsPanel .sectionTitleText {
    font-family: 'Poppins Light', sans-serif;
    font-size: 1.4em;
}

section.settingsPanel .sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 0.5em;

    background: transparent;
}

section.settingsPanel .sectionTitle:hover {
    transform: scale(1.05);
    box-shadow: none;
}

section.settingsPanel .sectionTitle:active {
    transform: scale(1);
}

section.settingsPanel .sectionTitle:focus h2,
section.settingsPanel .sectionTitle:focus {
    outline: none;
    font-family: 'Poppins Bold', sans-serif;
}

section.settingsPanel .sectionTitle .title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    transform: translateX(-7%);
    gap: 0.5em;

    background: transparent;
}

section.settingsPanel .sectionTitle img {
    height: 1.5em;
}

section.settingsPanel .settingsGroupContent {
    background: lightgray;
    opacity: 0;

    height: 0;
    padding: 0;

    transform: scale(1.15);
}

section.settingsPanel .settingsGroupContent.active {
    height: auto;
    opacity: 1;
    padding: 1em;
    margin-bottom: 3em;

    transform: scale(1);
}

section.settingsPanel .sectionTitle .arrow {
    position: relative;
    right: 10%;
    opacity: 0;
}

section.settingsPanel .sectionTitle .arrow.active {
    transform: rotate(90deg);
}

section.settingsPanel .sectionTitle:hover .arrow,
section.settingsPanel .sectionTitle:focus .arrow {
    position: relative;
    right: 0%;
    opacity: 1;
}

.settingOption {
    padding: 1em;
    border-bottom: 1px solid rgb(188, 188, 188);;
    border-radius: 0;
}

.settingsGroupContent .settingOption:last-child {
    border-bottom: none;
}

.settingOptionLabel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.settingOptionLabel:hover {
    transform: scale(1.05);
}

.settingOptionLabel:active {
    transform: scale(0.95);
}

.settingOptionLabel .labelText {
    font-size: 1em;
}

.switchBox  {
    position: absolute;
    opacity: 0;
}

.switchBox:focus ~ .switch  {
    transform: scale(1.25);
    outline: 4px solid rgba(0, 0, 0, 0.075);
}

.switch  {
    width: 48px;
    height: 24px;

    background: darkgrey;
    transition-duration: 0.2s;
}

.switch:hover {
    transform: scale(1.2);
}

.switch:active {
    transform: scale(0.8);
}

.switchBox:checked ~ .switch  {
    background: rgb(69, 69, 69);
}

.disablePage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    border-radius: 0;
    opacity: 0;

    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.25);

    transition-duration: 0.4s;
}

.disablePage.active {
    z-index: 3;
    opacity: 1;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    width: 100vw;
    height: 100vh;

    background: rgb(230, 230, 230);
    border-radius: 0px;
    transition: 0.7s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    filter: invert(100%);
}

.loaderMask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    border-radius: 0px;
    transition-timing-function: ease-in-out;

    width: 100vw;
    height: 0vh;

    -webkit-backdrop-filter: invert(100%);
    backdrop-filter: invert(100%);
}

.anchor {
    position: relative;
    bottom: 30px;
    width: 80px;
    height: 20px;
    padding: 0;
}

.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 100%;
    background-color: #000;
    left:0%;
    animation: circle .5s alternate infinite ease;
    opacity: 0;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
        opacity: 1;
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
        opacity: 1;
    }
    100%{
        top:0%;
        opacity: 1;
    }
}
.circle:nth-child(2){
    animation-delay: .2s;
    left:30px;
}
.circle:nth-child(3){
    animation-delay: .3s;
    left:60px;
}

.loader h1::after {
    content: 'Loading';
    font-family: 'Poppins Bold', sans-serif;
    animation-name: load;
    animation-duration: 20s;
    animation-delay: 2s;
}

@keyframes load{
    0% {
        content: 'Loading';
        opacity: 1;
    }
    4% {
        opacity: 1;
    }
    7% {
        content: 'Loading';
        opacity: 0;
    }
    8% {
        content: 'Preprocessing';
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    23% {
        content: 'Preprocessing';
        opacity: 0;
    }
    24% {
        content: 'Setting up';
        opacity: 0;
    }
    32% {
        opacity: 1;
    }
    38% {
        opacity: 1;
    }
    41% {
        content: 'Setting up';
        opacity: 0;
    }
    42% {
        content: 'Fetching Cookies';
        opacity: 0;
    }
    48% {
        opacity: 1;
    }
    52% {
        opacity: 1;
    }
    55% {
        content: 'Fetching Cookies';
        opacity: 0;
    }
    56% {
        content: 'Updating Settings';
        opacity: 0;
    }
    64% {
        opacity: 1;
    }
    68% {
        opacity: 1;
    }
    71% {
        content: 'Updating Settings';
        opacity: 0;
    }
    72% {
        content: 'Almost Done';
        opacity: 0;
    }
    74% {
        opacity: 1;
    }
    79% {
        opacity: 1;
    }
    82% {
        content: 'Almost Done';
        opacity: 0;
    }
    83% {
        content: 'Loading';
        opacity: 0;
    }
    87% {
        opacity: 1;
    }
}

.workspace {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1em;
    min-height: 30em;
}

.workspace > * {
    background: lightgrey;
    height: calc(100% - 4em);
    width: 100%;
    padding: 2em;
    padding-top: 1.5em;
}

.workspace .history {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.workspace .history h1 {
    font-family: 'Poppins Bold', sans-serif;
    margin: 0;
    font-size: 1.75em;
}

.workspace .history ul {
    background: rgb(195, 195, 195);
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content:left;
}

.historySectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.historySectionTitle img {
    aspect-ratio: 1;
    width: 1.25em;
}

.workspace .history ul li {
    list-style-type: none;
    margin: 0.5em;
    background: darkgrey;
    display: flex;
    justify-content: left;
    align-items: stretch;
    flex-direction: row-reverse;
    position: relative;
}

.workspace .history ul li .rollValue {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 1.5em;
    border-radius: 0;
}

.workspace .history ul li .rollInfo {
    color: #434343;
    overflow-x: scroll;
    width: 100%;
    border-radius: 0;
}

.workspace .history ul li .rollDataContainer {
    padding: 1em 2em;
    transition-duration: 0s;
    width: calc(100% - 5.5em);
}

.workspace .history ul li:hover {
    transform: scale(1.05);
    background: rgb(178, 178, 178);
    box-shadow: none;
}

.workspace .history ul li:active {
    transform: scale(0.9);
}

.workspace .history ul li button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background:#999999;
    width: 3em;
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    height: 100%;
    transition-duration: 0.2s;
}

.workspace .history ul li button:hover, .workspace .history ul li button:hover, .workspace .history ul li button:focus {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: scale(1);
    width: 100%;
    background:#2c2c2c;
    left: 0;
}

.workspace .history ul li button:hover img, .workspace .history ul li button:active img, .workspace .history ul li button:focus img {
    filter: invert(1);
    transform: scale(1.5);
}

.sheetPanel .sheetTabs {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    overflow-x: scroll;
    padding: 1em;
    min-height: 4em;
}

.sheetPanel .sheetTabs .sheetTab {
    width: 100%;
    background: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}

.sheetPanel .sheetTabs .sheetTab div {
    font-family: inherit;
}

.sheetPanel .sheetTabs input {
    position: absolute;
    opacity: 0;
}

.sheetPanel .sheetTabs input:checked + .sheetTab {
    background: #2c2c2c;
    color: white;
    font-family: 'Poppins Bold', sans-serif;
}

.sheetPanel .sheetTabs input:checked + .sheetTab img {
    filter: invert(1);
}

.sheetPanel .sheetTabs .sheetTab:hover, .sheetPanel .sheetTabs input:focus + .sheetTab {
    transform: scale(1.1);
    box-shadow: none;
}

.sheetPanel .sheetTabs .sheetTab:active {
    transform: scale(0.9);
}

.sheetPanel .sheetContentArea {
    background: rgb(230, 230, 230);
    height: 100%;
    padding: 1em;
    overflow-y: scroll;
}

.sheetContent {
    display: flex;
    flex-direction: column;
}

#characterSheet .characterType {
    background: lightgray;
    padding: 1em;
    display: flex;
    gap: 1em;
}

#characterSheet .characterType .nameInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#characterSheet .characterType .nameInfo #backstoryField {
    background: rgb(240, 240, 240);
    padding: 1em;
    border: none;
    height: 100%;
    resize: vertical;
    cursor: text;
    min-height: 94.525px;
    max-height: 356px;
}

#characterSheet .characterType .nameInfo #backstoryField:hover {
    transform: scale(1);
    background: white;
    box-shadow: none;
}

#characterSheet .characterType .nameInfo #backstoryField:active, #characterSheet .characterType .nameInfo #backstoryField:focus {
    transform: scale(1);
    border-bottom: 5px solid darkgray;
    outline: none;
}

#characterSheet .characterType .sheetName {
    padding: 0.75em 1.25em;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 1.15em;
    background: rgb(240, 240, 240);
    cursor: text;
}

#characterSheet .characterType .sheetName:hover {
    transform: scale(1.1);
    box-shadow: none;
}

#characterSheet .characterType .sheetName:active {
    transform: scale(0.9);
}

#characterSheet .characterType .characterDetails {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    max-height: 191.975px;
    width: 100%;
}

#characterSheet .characterType .characterDetails .infoFieldContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    background: rgb(230, 230, 230);
    position: relative;
}

#characterSheet .characterType .characterDetails .infoFieldContainer .inputElement {
    padding: 1.25em;
    width: 100%;
    background: rgb(230, 230, 230);
    color: #434343;
    cursor: text;
    font-family: 'Poppins Bold', sans-serif;
}

#characterSheet .characterType .characterDetails .infoFieldContainer .inputElement:placeholder-shown {
    font-family: 'Poppins Medium', sans-serif;
}

#characterSheet .characterType .characterDetails .infoFieldContainer .inputElement:hover, #characterSheet .characterType .characterDetails .infoFieldContainer .inputElement:focus {
    transform: scale(1.05);
    background: rgb(250, 250, 250);
    box-shadow: none;
    outline: none;
}

#characterSheet .characterType .characterDetails .infoFieldContainer  .inputElement:active {
    transform: scale(0.95);
}

#characterSheet .characterType .characterDetails .infoFieldContainer input[type="number"] {
    max-width: 10%;
    width: fit-content;
    margin-left: auto;
    text-align: right;
    background: rgb(240, 240, 240);
    font-family: 'Poppins Bold', sans-serif;
}

#characterSheet .characterType .characterDetails .infoFieldContainer label {
    padding-left: 1em;
    color: #757575;
    font-size: 0.85em;
    width: fit-content;
}

.dropdownWrapperNormalizer {
    display: flex;
    width: 100%;
    position: relative;
    align-self: baseline;
}

.dropdownWrapper {
    position: absolute;
    width: calc(100% + 0.5em);
    align-self: flex-start;
    color: #fff;
}

.dropdownContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: calc(100% - 2.5em) !important;
    z-index: 1;
    cursor: auto !important;
    padding: 1em !important;
}

.dropdownContainer .dropdownOpenLabel {
    padding: 0 !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    cursor: pointer !important;
}

#characterSheet .characterType .characterDetails .infoFieldContainer .dropdownContainer:focus-within {
    transform: scale(1.025);
    background: rgb(250, 250, 250) ;
    box-shadow: none;
    outline: none;
    transform: scale(1.05);
    z-index: 10;
    min-width: 267.438px;
}

.dropdownContainer:focus-within .dropdownArrow {
    transform: rotate(-180deg);
}

.dropdownContent {
    opacity: 0;
    padding: 0px;
    height: 0px !important;
    transform: scale(1.3);
}

.dropdownContent * {
    height: 0px;
}

.dropdownContainer:focus-within .dropdownContent {
    transform: scale(1);
    opacity: 1;
    padding: 1em;
    height: auto !important;
    background: rgb(240, 240, 240);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: auto;
}

.dropdownContainer:focus-within .dropdownContent * {
    height: auto;
}

.dropdownContainer:focus-within .dropdownContent .dropdownList {
    height: 12em;
}

.dropdownContainer:focus-within .dropdownLabel:after {
    content: attr(data-dropdown-title);
}

.dropdownContent .dropdownContentHeading {
    font-family: 'Poppins Bold', sans-serif;
}

.dropdownContainer .dropdownLabel::after {
    content: attr(data-dropdown-content);
    color: #434343;
    font-family: 'Poppins Bold', sans-serif;
}

.dropdownContent .dropdownSearchbar {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 75px;
}

.dropdownContent .dropdownSearchbar .searchbox {
    border: none;
    padding: 0.25em 1em;
    width: 70%;
    background: transparent;
    color: #666666;
    border-radius: 75px;
}

.dropdownContent .dropdownSearchbar .searchButton {
    box-shadow: none;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    margin: 0.25em;
    transform: scale(1.3);
    background: #2c2c2c;
}

.dropdownContent .dropdownSearchbar .searchButton img {
    filter: invert(1);
    transform: scale(0.85);
}

.dropdownContent .dropdownSearchbar:hover {
    transform: scale(1.05);
}

.dropdownContent .dropdownSearchbar .searchbox:active {
    transform: scale(0.95) !important;
}

.dropdownContent .dropdownSearchbar .searchbox:focus {
    outline: none;
    font-family: 'Poppins Bold', sans-serif;
}

.dropdownContent .dropdownList {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    overflow-y: scroll;
    background: rgb(230, 230, 230);
    padding: 0.75em 0.5em;
}

.dropdownContent .dropdownList li {
    list-style-type: none;
    margin: 0;
    position: relative;
    padding-left: 0em;
}

.dropdownContent .dropdownList li input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.dropdownContent .dropdownList li input[type="radio"]:checked + .dropdownListItemLabel {
    background: #2c2c2c !important;
}

.dropdownContent .dropdownList li input[type="radio"]:checked + .dropdownListItemLabel .dropdownListItemLabelText {
    font-family: 'Poppins Bold', sans-serif;
    color: white;
}

.dropdownContent .dropdownList li input[type="radio"]:checked + .dropdownListItemLabel img {
    filter: invert(1);
}

.dropdownContent .dropdownList li .dropdownListItemLabel {
    background: rgb(220, 220, 220);
    font-size: 0.85em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    width: auto !important;
    cursor: pointer;
    transform: scale(0.95);
}

.dropdownContent .dropdownList li .dropdownListItemLabel:hover, .dropdownContent .dropdownList li input[type="radio"]:focus + .dropdownListItemLabel {
    background: rgb(210, 210, 210);
    transform: scale(1);
}

.dropdownContent .dropdownList li input[type="radio"]:focus + .dropdownListItemLabel .dropdownListItemLabelText {
    font-family: 'Poppins Bold', sans-serif;
}

.dropdownContent .dropdownList li .dropdownListItemLabel:active {
    transform: scale(0.9);
}

.TEST_ROLL {
    margin-top: 1em;
}