* {
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.06, 0.47, 0.15, 0.89);
    border-radius: 15px;
    font-family: 'Poppins Medium', sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

*::selection {
    background-color: grey;
    color: white;
}

body {
    display: flex;
    height: calc(100dvh - 16px);
    overflow: hidden;
    border-radius: 0;
}

img {
    border-radius: 0;
}

main {
    background: rgb(230, 230, 230);
    border-radius: 15px;
    width: calc(100vw);
    padding: 1em;
}

.gayBar {
    margin-left: 8px;
    border-radius: 75px;
    background: lightgrey;
    width: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.gayness {
    background: grey;
    height: 50%;
    border-radius: 75px;
}

.navArea {
    height: 3em;
    background: #2c2c2c;
    display: flex;
    padding: 1em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

button,
.clickable {
    border-width: 0px;
    cursor: pointer;
}

button:hover,
.clickable:hover {
    transform: scale(1.3);
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 5px;
}

button:active,
.clickable:active {
    transition-duration: 0.1s;
    transform: scale(0.8);
    box-shadow: none;
}

button:focus,
.clickable:focus {
    outline: 4px solid rgba(0, 0, 0, 0.3);
}

button.settingsButton {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100px;
}

button.settingsButton:hover {
    transform: scale(1.3) rotate(180deg);
}

button.settingsButton:active {
    transform: scale(0.8);
}

button.settingsButton:focus,
button.newTab:focus {
    outline: 4px solid rgba(255, 255, 255, 0.3);
}

nav.profileSection {
    background: #434343;
    height: calc(100% - 14px);
    width: 100%;
    margin-left: 8px;
    padding: 7px 7px;
    border-radius: 75px;
    display: flex;
}

.tabs {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: scroll;
    max-width: calc(98.98vw - 265px);
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tab {
    background: gray;
    color: rgb(69, 69, 69);
    width: 100%;
    padding: 5px 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    transform: scale(0.95);
    transition-duration: 0.3s;
}

.tab.active {
    background: lightgray;
    border-bottom: 4px solid rgba(0, 0, 0, 0.45);
}

.tab.active input {
    font-family: 'Poppins Bold', sans-serif;
}

.tab:hover {
    transform: scale(1);
    box-shadow: none;
    opacity: 1;
}

.tab:active {
    transform: scale(0.95);
}

.tabName {
    border: none;
    padding: 0px 10px;
    background: transparent;
    min-width: 0px;
}

.tabName:hover,
.tabName:active,
.tabName:focus {
    transform: scale(1);
    outline: none;
    box-shadow: none;
}

.tabCounter {
    font-size: 1.4em;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins Bold', sans-serif;
    background: lightgray;
    text-align: center;
    min-width: 35px;
    max-width: 35px;
}

.newTab {
    aspect-ratio: 1;
    margin-left: 10px;
}

.newTab:hover {
    transform: scale(1.3) rotate(90deg);
}

.newTab:active {
    transform: scale(0.8);
}

.newTab img {
    width: 1.5em;
}

.closeTab {
    aspect-ratio: 1;
    background-color: transparent;
    margin-left: 10px;
}

.closeTab:hover {
    background-color: darkgrey;
    transform: scale(1.5);
}

.closeTab img {
    width: 1em;
}

.circleIconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.circleIconButton img {
    border-radius: 0px;
}

.characterInfo {
    background-color: gray;
    padding: 1em;
    padding-right: 2em;
    display: flex;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.characterName {
    width: 100%;
    background: rgb(188, 188, 188);
    border: none;
    font-size: 1.5em;
    font-family: 'Poppins Bold', sans-serif;
    margin-right: 1em;
    padding: 0em 1em;
    cursor: text;
}

.characterName:hover {
    transform: scale(1.025);
    box-shadow: none;
}

.characterName:active {
    transform: scale(0.975);
}

.characterName:focus {
    background-color: lightgrey;
}

.characterActions {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.characterActions .circleIconButton {
    height: 4em;
    aspect-ratio: 1;
}

.popUpContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp {
    background: white;
    box-shadow: rgb(0, 0, 0, 0.25) 0px 0px 5px;

    min-width: 25em;
    max-width: 100vw;
    padding: 2em;

    transform: scale(0.5);
}

.popUpContent {
    max-width: 25em;
}

.popUpTitle {
    margin: 0;
}

.popUpButton {
    padding: 0.5em 1em;
    border-radius: 10px;
}

.popUpButtonTrue {
    background-color: rgb(69, 69, 69);
    color: white;
}

section.settingsPanel {
    background: rgb(240, 240, 240);

    position: absolute;
    padding: 2em;
    height: calc(100% - 5em);
    z-index: 4;
    transform: translateX(-110%);

    min-width: 20em;
    width: 30vw;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section.settingsPanel .settingsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    padding: 0;
}

section.settingsPanel .settingsTitle {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 2em;
    margin: 0;
    width: 5em;
    text-align: left;
}

section.settingsPanel .settingsArea {
    background: rgb(230, 230, 230);
    height: 100%;
    overflow-y: scroll;
    padding: 1em 2em;
}

section.settingsPanel .settingsArea::-webkit-scrollbar {
    display: none;
}

section.settingsPanel .closeSettingsButton {
    background: lightgray;
    padding: 1em;
    box-shadow: none;
    font-family: 'Poppins Bold', sans-serif;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    filter: invert(1);
}

section.settingsPanel .closeSettingsButton:hover,
section.settingsPanel .closeSettingsButton:focus {
    transform: scale(1.1);
    box-shadow: none;
}

section.settingsPanel .closeSettingsButton:active {
    transform: scale(0.9);
}

section.settingsPanel .closeSettingsButton img {
    border-radius: 0;
}

section.settingsPanel .sectionTitleText {
    font-family: 'Poppins Light', sans-serif;
    font-size: 1.4em;
}

section.settingsPanel .sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 0.5em;

    background: transparent;
}

section.settingsPanel .sectionTitle:hover {
    transform: scale(1.05);
    box-shadow: none;
}

section.settingsPanel .sectionTitle:active {
    transform: scale(1);
}

section.settingsPanel .sectionTitle:focus h2,
section.settingsPanel .sectionTitle:focus {
    outline: none;
    font-family: 'Poppins Bold', sans-serif;
}

section.settingsPanel .sectionTitle .title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    transform: translateX(-7%);
    gap: 0.5em;

    background: transparent;
}

section.settingsPanel .sectionTitle img {
    height: 1.5em;
}

section.settingsPanel .settingsGroupContent {
    background: lightgray;
    opacity: 0;

    height: 0;
    padding: 0;
}

section.settingsPanel .settingsGroupContent.active {
    height: auto;
    opacity: 1;
    padding: 1em;
    margin-bottom: 3em;
}

section.settingsPanel .sectionTitle .arrow {
    position: relative;
    right: 10%;
    opacity: 0;
}

section.settingsPanel .sectionTitle .arrow.active {
    transform: rotate(90deg);
}

section.settingsPanel .sectionTitle:hover .arrow,
section.settingsPanel .sectionTitle:focus .arrow {
    position: relative;
    right: 0%;
    opacity: 1;
}

.disablePage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -3;
    border-radius: 0;
    opacity: 0;

    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.25);

    transition-duration: 0.4s;
}

.disablePage.active {
    z-index: 3;
    opacity: 1;
}